<div class="container">
  <div class="sign">
      <div class="neon-blue" id="title">You<span id="fade">r</span> C<span id="fade">o</span>cktails</div>
      <div class="neon-blue"> With <span class="neon-purple" id="kreen">Awesome</span><span class="neon-purple">Cocktails</span></div>
   </div>
</div>
